:root {
  --light-green: #5DD568;
  --light-purple: #ECA7FE;
  --light-grey: #BBC1BC;
  --dark-grey: #1E1E1E;
  --very-light-grey: #F0F4F1;
  --hyperlink-color: #4540F8;
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
}