.home {
    display: flex;
    justify-content: center;
}

.chips {
    display: flex;
    justify-content: flex-start;
    margin: 20px 10px;
}

.chips > * {
    margin-right: 20px;
}

.reminders > * {
    margin: 10px;
    margin-bottom: 20px;
}

.createbtn {
    position: fixed;
    top: 90%;
    right: 10%;
}